@model IEnumerable<FacturacionElectronica.Modelos.Inventario>

@{
    ViewData["Title"] = "Listar";
}

<center>
    <h1 class="heading" style="        text-align: center;
        margin: -19px 0 0;
        margin-top: 20px;
        color: #B8240A;

        font-family: Montserrat;
        font-style: normal;
        font-size: 55px;
        line-height: 78px;
    ">
        Módulo de Inventario
    </h1>

    <div>
        <p style="left: auto;">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <form action="Consultar">
                <a asp-action="Agregar" class="btn btn-primary btn-xs" style="font-family: Montserrat;
                     font-style: normal;
                     font-weight: 400;
                     font-size: 20px;
                     color: #D6F5FA;
                     line-height: 44px;
                     background: #B8240A;
                     border: 2px solid #000000;
                     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); ">Añadir</a>


                &nbsp;&nbsp;&nbsp;&nbsp;

                <input class="rounded border border-danger" id="id" name="id" required size="40">&nbsp;&nbsp;&nbsp;&nbsp;

                <input type="submit" value="Consultar" class="btn btn-primary btn-xs"
                       style="font-family: Montserrat;
                       font-style: normal;
                       font-weight: 400;
                       font-size: 20px;
                       color: #D6F5FA;
                       line-height: 44px;
                       background: #B8240A;
                       border: 2px solid #000000;
                       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                       margin: 10px;">

            </form>


        </p>
    </div>
</center>

<table class="table" style="text-align:center ">
    <thead>
        <tr style="  background-color: paleturquoise;   color: #B8240A; text-align:center ">
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Existencia)
            </th>
            <th>
                @Html.DisplayName("Acciones")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Existencia)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Modificar", new { id = item.idInventario }, new { @class = "btn btn-outline-danger" })
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.idInventario }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
