@model FacturacionElectronica.Modelos.ResumenDeCompra

@{
    ViewData["Title"] = "AgregarMedioPago";
}

<h1 style="text-align: center">Resumen de compra</h1>

<h6> Fecha: @Html.DisplayFor(model => model.fecha.Date)</h6>
<h6> Cliente: @Html.DisplayFor(model => model.cliente)</h6>
<h6> Consecutivo: @Html.DisplayFor(model => model.consecutivo)</h6>

<br />

<table class="table">
    <thead>
        <tr style="text-align:center; background-color: gainsboro;  font-size:medium; color:black">
            <th>
                @Html.DisplayName("Linea")
            </th>
            <th>
                @Html.DisplayName("Cant")
            </th>
            <th>
                @Html.DisplayName("Descripción")
            </th>
            <th>
                @Html.DisplayName("Precio Unitario")
            </th>
            <th>
                @Html.DisplayName("Subtotal")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.lineasDetalle)
        {
            <tr style="text-align:center">
                <td>
                    @Html.DisplayFor(modelItem => item.idLineaDetalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtotal)
                </td>
            </tr>
        }
    </tbody>
</table>


<h6> Total Impuestos: @Html.DisplayFor(model => model.TotalImpuestos)</h6>
<h6> Total: @Html.DisplayFor(model => model.Total)</h6>
<br />
<hr />

<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarMedioPago">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="form-group">
                <label asp-for="CondicionVenta" class="control-label"></label>
                <select id="CondicionVenta" name="CondicionVenta">
                    <option value="Contado">Contado</option>
                    <option value="Crédito">Crédito</option>
                    <option value="Consignación">Consignación</option>
                    <option value="Apartado">Apartado</option>
                    <option value="Arrendamiento con opción de compra">Arrendamiento con opción de compra</option>
                    <option value="Arrendamiento en función financiera">Arrendamiento en función financiera</option>
                    <option value="Cobro a favor de un tercero">Cobro a favor de un tercero</option>
                    <option value="Servicios prestados al Estado a crédito">Servicios prestados al Estado a crédito</option>
                    <option value="Pago del servicios prestado al Estado ">Pago del servicios prestado al Estado </option>
                    <option value="Otros">Otros</option>

                </select>
            </div>
            <div class="form-group">
                <label asp-for="MedioPago" class="control-label"></label>
                <select id="MedioPago" name="MedioPago">
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta">Tarjeta</option>
                    <option value="Cheque">Cheque</option>
                    <option value="Transferencia - depósito bancario">Transferencia - Depósito bancario</option>
                    <option value="Recaudado por terceros">Recaudado por terceros</option>
                    <option value="Otros">Otros</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Generar Factura" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "ListarInventario", new { idFactura = TempData["idFactura"] })
            </div>
        </form>
    </div>

   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
