@model FacturacionElectronica.Modelos.Inventario

@{
    ViewData["Title"] = "ConsultarInventario";
}

<h1  style="font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 78px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #B8240A;
">Consultar inventario</h1>

<div>
    
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Existencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Existencia)
        </dd>
    </dl>
</div>

