@model FacturacionElectronica.Modelos.ConsultarFactura

@{
    ViewData["Title"] = "Consultar";
}

<center>
    <h1 class="heading" style=" text-align: center;
        margin: -19px 0 0;
        margin-top: 20px;
        color: #B8240A;

        font-family: Montserrat;
        font-style: normal;
        font-size: 55px;
        line-height: 78px;
    ">
        Consulta de factura
    </h1>

</center>

<div>


    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayName("Número consecutivo:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroConsecutivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Fecha de emisión:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayName("Identificación del cliente:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idCliente)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayName("Identificación del emisor:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Condición de venta:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CondicionVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Medio de pago:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedioPago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Subtotal:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Total de impuestos")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalImpuesto)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayName("Total:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalFactura)
        </dd>
    </dl>
</div>

<div style="text-align:center; align-content:center; align-items:center;">
    @Html.ActionLink("Eliminar", "EliminarFactura", new { id = Model.idFactura }, new { @class = "btn btn-danger" })
    @Html.ActionLink("Regresar", "ListarFacturas", new { id = Model.idCliente }, new { @class = "btn btn-success" })

</div>
