@model IEnumerable<FacturacionElectronica.Modelos.Inventario>

@{
    ViewData["Title"] = "ListarInventario";
}

@{

}
<h1>Agregar Inventario</h1>

<p>
    <a asp-action="Create">Procesar Factura</a>

</p>
<form action="ConsultarInventario">

    <input type="number" name="codigo" id="codigo">

    <p><input type="submit" value="Consultar"></p>
</form>



<table class="table">
    <thead>
        <tr>

            

            <th>
                @Html.DisplayName("Descripción")
            </th>
            <th>
                @Html.DisplayName("Precio venta sin IVA")
            </th>
            <th>
                @Html.DisplayName("Existencia")
            </th>
            

            <th>
               
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencia)
            </td>
          


          
            <td >
                @Html.ActionLink("Seleccionar", "AgregarCantidadUnidad", new {idFactura = TempData["idFactura"], idInventario = item.idInventario })
            </td>

            
        </tr>
        }
    </tbody>
</table>
