@model IEnumerable<FacturacionElectronica.Modelos.Cliente>

@{
    ViewData["Title"] = "Listar";
}

<center>
    <h1 class="heading" style="        text-align: center;
        margin: -19px 0 0;
        margin-top: 20px;
        color: #B8240A;

        font-family: Montserrat;
        font-style: normal;
        font-size: 55px;
        line-height: 78px;
    ">
        Seleccionar Cliente
    </h1>

    <div>

        <form action="ConsultarCliente" style="left: auto;">
            <a asp-action="Agregar" asp-controller="Cliente" class="btn btn-primary btn-xs" style="font-family: Montserrat;
                     font-style: normal;
                     font-weight: 400;
                     font-size: 20px;
                     color: #D6F5FA;
                     line-height: 44px;
                     background: #B8240A;
                     border: 2px solid #000000;
                     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); ">Añadir</a>


            &nbsp;&nbsp;&nbsp;&nbsp;

            <input class="rounded border border-danger" id="codigo" name="codigo" required size="40">&nbsp;&nbsp;&nbsp;&nbsp;

            <input type="submit" value="Consultar" class="btn btn-primary btn-xs"
                   style="font-family: Montserrat;
                       font-style: normal;
                       font-weight: 400;
                       font-size: 20px;
                       color: #D6F5FA;
                       line-height: 44px;
                       background: #B8240A;
                       border: 2px solid #000000;
                       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                       margin: 10px;">

        </form>
    </div>
</center>




<table class="table" style="text-align:center ">
    <thead>
        <tr style="  background-color: paleturquoise;   color: #B8240A; text-align:center ">

            <th>
                @Html.DisplayName("Identificación")
            </th>
            <th>
                @Html.DisplayName("Nombre")
            </th>

            <th>
                @Html.DisplayName("Primer Apellido")
            </th>

            <th>
                @Html.DisplayName("Segundo Apellido")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellido)
            </td>

            <td>
                @Html.ActionLink("Seleccionar", "AgregarFactura", new { idCliente = item.idCliente }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
        }
    </tbody>
</table>
