
@model IEnumerable<FacturacionElectronica.Modelos.Cliente>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>

        @{
            ViewData["Title"] = "Lista de clientes";
        }
    </title>
    

</head>
<h1 id="titulo">
    Módulo clientes
</h1>

<p id="Boton1">
    <a asp-action="Agregar">Añadir</a>

</p>

<form action="Consultar">

    <input id="Boton2" type="number" name="id">

    <p id="Boton3"><input type="submit" value="Consultar"></p>
</form>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </th>
            <th>
                @Html.DisplayName("Acciones")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimerApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegundoApellido)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Modificar", new { id = item.idCliente }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.idCliente })
                </td>
            </tr>
        }
    </tbody>
</table>
