@model IEnumerable<FacturacionElectronica.Modelos.Cliente>

@{
    ViewData["Title"] = "Lista de clientes";
}

<h1>Módulo de clientes</h1>

<p>
    <a asp-action="Agregar">Añadir</a>
   
</p>

<form action="Consultar">

    <p>Identificación: .3<input type="number" name="id" id="id"></p>

    <p><input type="submit" value="Consultar"></p>
</form>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellido)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Modificar", new { id=item.idCliente}) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id=item.idCliente })
            </td>
        </tr>
}
    </tbody>
</table>
